---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BIOVIZTA'2K24">
  <div class="flex flex-col items-center">
    <div
      class="font-bold text-white text-2xl m-6 md:text-[5rem]"
      style="transform: translateX(0%); text-shadow: #b94e09 0px 0px 6px, #672307 0px 0px 6px;"
    >
      CONTACT US
    </div><div
      class="h-full rounded-md border-2 p-4 border-[#ffff] bg-black/70"
      style="opacity: 1;"
    >
      <div
        class="font-bold text-white text-center text-xl md:text-2xl"
        style="text-shadow: #b94e09 0px 0px 6px, #672307 0px 0px 6px;"
      >
        Event Organizers
      </div><div class="grid md:grid-cols-2 gap-12 p-4">
        <div class="hidden md:block md:col-span-2 md:flex justify-center">
          <div class="mt-2">
            <div
              class="text-[#b94e09] font-bold text-lg m-4 px-8 border-b-[3px] rounded-b-xl text-center font-[Noto Serif] md:text-xl"
            >
              GENERAL INQUIRIES
            </div><div class="flex flex-col px-8 md:gap-10">
              <div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">K.Pranav</div><div
                  class="flex gap-2"
                >
                  <a
                    href="tel:+919444319948"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+919444319948" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div><div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">M.Ashwin</div><div
                  class="flex gap-2"
                >
                  <a
                    href="tel:+918072599173"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+918072599173" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div><div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">K.Yazhini</div><div
                  class="flex gap-2"
                >
                  <a
                    href="tel:+918056077929"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+918056077929" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div><div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">
                  S.Reneta Siana
                </div><div class="flex gap-2">
                  <a
                    href="tel:+919345825788"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+919345825788" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div><div class="block md:hidden">
          <div class="mt-2">
            <div
              class="text-[#0d98ba] font-bold text-lg m-4 px-8 border-b-[3px] rounded-b-xl text-center font-[Noto Serif] md:text-xl"
            >
              GENERAL INQUIRIES
            </div><div class="flex flex-col px-8 md:gap-10">
              <div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">
                  Sunil Selvendran
                </div><div class="flex gap-2">
                  <a
                    href="tel:+91 7867975232"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+917867975232" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div><div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">
                  Suriyaprakash
                </div><div class="flex gap-2">
                  <a
                    href="tel:+91 7358737950"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+917358737950" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div><div class="flex justify-between">
                <div class="text-white text-sm md:text-lg">
                  Dharani Shree
                </div><div class="flex gap-2">
                  <a
                    href="tel:+91 7305548146"
                    class="hover:scale-125 hover:rotate-[20deg]"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/phone--v1.png"
                      alt="phone--v1"
                    /></a
                  ><a href="https://wa.me/+917305548146" class="hover:scale-125"
                    ><img
                      width="30"
                      height="30"
                      src="https://img.icons8.com/ios-glyphs/30/FFFFFF/whatsapp.png"
                      alt="whatsapp"
                    /></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
