---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown";
import { Image } from "astro:assets";
import EventList from "../components/EventList";
import collegeBanner from "../assets/college-banner.svg";
---

<Layout title="BIOVIZTA'2K24">
  <div class="">
    <div class="flex flex-col items-center">
      <dialog class="backdrop:bg-black/60"></dialog><div
        class="w-full md:w-6/12"
      >
        <Image
          src={collegeBanner}
          class="w-full object-cover py-4 md:py-10"
          alt="St. Joseph's College of Engineering"
        />
      </div><div
        class="font-bold text-white text-lg text-center mx-6 md:text-[5rem]"
        style="text-shadow: #b94e09 0px 0px 6px, #672307 0px 0px 6px;"
      >
        DEPARTMENT OF BIOTECHNOLOGY
      </div><div class="my-4 md:mx-16">
        <Image
          src={"/logo.jpg"}
          alt="logo"
          class="w-full object-cover h-[200px]"
          width={200}
          height={200}
        />
      </div><div class="flex justify-center items-center gap-4">
        <a
          class="bg-[#b94e09] text-lg text-white font-semibold py-2 px-4 md:py-3 md:px-6 lg:py-4 lg:px-8 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-transparent border border-[#672307] focus:outline-none focus:ring-2 focus:ring-[#4d81e3] focus:ring-opacity-50 tracking-widest"
          href="https://sympo.stjosephs-engg.cc">REGISTER</a
        >
      </div><div class="flex justify-center text-white my-10 font-mono">
        <Countdown client:load />
      </div><div
        id="events"
        class="font-bold text-white text-2xl m-6 md:text-[5rem]"
        style="transform: translateX(0%); text-shadow: #b94e09 0px 0px 6px, #672307 0px 0px 6px;"
      >
        Events
      </div>
      <EventList client:load />
    </div>
  </div>
</Layout>
