---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BIOVIZTA'2K24 | Transport">
  <div class="">
    <div class="flex flex-col items-center">
      <div
        class="font-bold text-white text-2xl m-6 md:text-[5rem]"
        style="transform: translateX(0%); text-shadow: #b94e09 0px 0px 6px, #672307 0px 0px 6px;"
      >
        BUS SCHEDULE
      </div><div
        class="h-48 m-4 w-full max-w-sm overflow-hidden rounded-xl xs:h-32 xs:max-w-md md:max-w-lg xd:h-40"
        style="transform: translateX(0%);"
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.5877558161833!2d80.21585227413578!3d12.869881717102112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525bbeb0b2eeb7%3A0x2cb8fc0ae9b16ed5!2sSt%20Joseph's%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1722437116435!5m2!1sen!2sin"
          loading="eager"
          class="h-full w-full max-w-md rounded-xl md:max-w-lg"></iframe>
      </div><div style="opacity: 1;">
        <div
          class="font-nasalization font-sans text-base flex items-center justify-center max-w-[100vw] overflow-x-scroll"
        >
          <table class="border-2 border-white-200 md:w-5/6 px-4" border="1" align="center">
            <thead class="black"
              ><tr class="bg-[#b94f0937] text-white"
                ><th><center>Route No.</center></th><th
                  ><center>Starting Point</center></th
                ><th><center>Boarding Points &amp; Timing</center></th></tr
              ></thead
            ><tbody class="bg-[#b94e09] bg-opacity-50 text-white"
              ><tr
                ><td><p>11</p></td><td><p>Avadi</p></td><td
                  ><p>
                    Anna Stachu (5.55), Thirumullaivoyal (5.57),Ambattur OT
                    (6.00), Dunlop Ambethgar Stachu(6.02), Collector
                    Nagar(6.15), Jai Nagar (6.25), College Campus (7.15 )
                  </p></td
                ></tr
              ><tr
                ><td><p>12</p></td><td><p>Maduravoyal</p></td><td
                  ><p>
                    Velapan Chavadi (6.00),Vanagaram (6.05),Maduravoyal Eari
                    Karai(6.07),Maduravoyal Ration Shop(6.10),Balamurali
                    Theatre(6.15),Rail Nagar(6.17), Koyampedu Majestic
                    Tower(6.20), Jai Nagar (6.22), M.M.D.A (6.25),
                    Thirunagar(6.27),Vadapalani (6.30), College Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>13</p></td><td><p>West Mambalam</p></td><td
                  ><p>
                    Ashok Nagar Nagathamman Koil (6.35), G.R.T.School 7th
                    Avenve(6.40),Kamatchi Street Signal (6.43), Blue Tank
                    (6.50),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>56</p></td><td><p>K.K.Nagar Depot</p></td><td
                  ><p>
                    Depot (6.25),Udayam (6.27), Kasi Theatre (6.30), Ambal Nagar
                    (6.32), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>21</p></td><td><p>Red Hills</p></td><td
                  ><p>
                    Kolathur (6.00), Annasilai (6.03),Don Bosco School
                    (6.05),Periyar nagar (6.08), Jawagar Nagar (6.10),Agaram
                    (6.15),Perambur Church (6.20),Ootari Police Station
                    (6.25),Saravana Theatre (6.27),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>22</p></td><td><p>Moolakadai</p></td><td
                  ><p>
                    Moolakadai (6.10), Perambur R.S (6.15), Jamalia (6.20),
                    Purasawakkam Tank (6.25),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>23</p></td><td><p>MKP Nagar</p></td><td
                  ><p>
                    MR Nagar (6.05), Mullai Nagar E.B (6.10),Bharthi Nagar Bus
                    Stand (6.15),Ambekkar College (6.18),Vyasarpadi (6.20), G.3
                    Police Station (6.25), BhuvanesWari Theatre (6.28), Dowton
                    (6.30),Veppari (6.33),Nehru Stadium (6.35),Central Railway
                    Office (6.40), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>24</p></td><td><p>Villiwakkam</p></td><td
                  ><p>
                    Villivakkam (6.15),Kalpana Hotel (6.20), I.C.F.(6.22),
                    Railway Quarters (6.23), Noor Hotel (6.24),Mental Hospital
                    (6.25), Kellis (6.27), Tank (6.30), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>25</p></td><td><p>Chindadripet</p></td><td
                  ><p>
                    Chindadripet (6.20),Triplican Police Station (6.25), Rathna
                    Cafe (6.27),ICE House Mask (6.31),School Opp (6.33), College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>31</p></td><td><p>Thiruvottiyur</p></td><td
                  ><p>
                    Ajax (6.00),Vellanchetty School (6.02),Thiruvottiyur Market
                    (6.03),Thearadi (6.05),Raja Kadai (6.10),Toll Gate (6.12),
                    Lakshmi Koil (6.13),Kasimedu(6.15),College Campus(7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>31/A</p></td><td><p>Royapuram</p></td><td
                  ><p>
                    Kalmandapam (6.25), Royapuram Market (6.28), Beach Station
                    (6.30), College Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>32</p></td><td><p>Tondayarpet</p></td><td
                  ><p>
                    Tondiarpet (6.10),Agasthya (6.12),Manigundu (6.15),
                    Thiyagaraja College (6.17), Pandiyan Theatre (6.19),Mint
                    (6.20),Standly (6.22),Arts College(6.24), College Campus
                    (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>33 A</p></td><td><p>Broadway</p></td><td
                  ><p>
                    Broadway (6.20), Minarva (6.22), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>33</p></td><td><p>Light House</p></td><td
                  ><p>
                    Russian Embasy (6.42am),Santhome (6.45am), Pattinapakkam
                    (6.47am), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>34</p></td><td><p>Royapetta</p></td><td
                  ><p>
                    Royapetta (6.35), Ajantha (6.35), Manthaveli Depo (6.40),
                    College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>40</p></td><td><p>Oragadam</p></td><td
                  ><p>
                    Oragadam (6.00am),Padapai (6.10am),Manivakkam
                    (6.15am),Mudichur (6.18am),Tambaram Vidya (6.25am),Christ
                    King (6.30am),College Campus (7.15am).
                  </p></td
                ></tr
              ><tr
                ><td><p>41</p></td><td><p>Chengalpet</p></td><td
                  ><p>
                    Chengalpet Hospital (6.10am),Chengalpet B.S (6.15),
                    Chengalpet New B.S (6.20am),Singaperumal Koil (6.30),
                    Maraimalai Nagar(6.20),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>42</p></td><td><p>Asthinapuram</p></td><td
                  ><p>
                    Asthinapuram Bus Stand (6.30),Bridge (6.35), Theatre (6.40),
                    Minister House (6.45),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>43</p></td><td><p>Chrompet</p></td><td
                  ><p>
                    Chrompet (6.35), MIT Gate (6.37),MEPS Signal (6.40am),
                    College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>44</p></td><td><p>Tambaram Gate</p></td><td
                  ><p>Tambaram Gate (6.50), College Campus (7.15).</p></td
                ></tr
              ><tr
                ><td><p>45</p></td><td><p>Potheri</p></td><td
                  ><p>
                    Potheri (6.25am),Guduvancherry (6.30am),Urapakkam
                    (6.35am),Perukalathur (6.40), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>41/A</p></td><td><p>Perungalathur</p></td><td
                  ><p>
                    Perungalathur R.S (6.40), Kamaraj Nagar (6.55), Mahalakshmi
                    Nagar (7.00), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>46</p></td><td><p>Camp Road</p></td><td
                  ><p>Camp Road (6.55), College Campus (7.15)</p></td
                ></tr
              ><tr
                ><td><p>47</p></td><td><p>Balaji Nagar</p></td><td
                  ><p>
                    Balaji Nagar (6.40am),Eswanth Nagar (6.45am), College Campus
                    (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>47 A</p></td><td><p>Kozhli Pannai</p></td><td
                  ><p>
                    Kozhli Pannai(6.40), Sudarsan Nagar (6.43am), V.G.P Ambika
                    Garden (6.45am), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>48</p></td><td><p>Chempakkam</p></td><td
                  ><p>
                    Chempakkam (6.55), Gowriwakkam(6.57) Santoshapuram(7.00),
                    College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>48 A</p></td><td><p>Puthu Kovil</p></td><td
                  ><p>Puthu Kovil (6.45), College Campus(7.15).</p></td
                ></tr
              ><tr
                ><td><p>49</p></td><td><p>Medawakkam</p></td><td
                  ><p>Medawakkam (6.55), College Campus (7.15).</p></td
                ></tr
              ><tr
                ><td><p>49 A</p></td><td><p>Medawakkam Koot Road</p></td><td
                  ><p>
                    Medawakkam Koot Road (6.50), Indian Bank (6.52), College
                    Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>50</p></td><td><p>Anagaputhur</p></td><td
                  ><p>
                    Anagaputhur (6.15am),Indian Bank (6.20am),Retta Pilliar
                    Kovil (6.21am),Krishna Nagar (6.22am),Inithai Mahal
                    (6.24am),College Campus (7.15am).
                  </p></td
                ></tr
              ><tr
                ><td><p>51</p></td><td><p>Poonamallee</p></td><td
                  ><p>
                    Poonamallee B.S (6.10), Karaiyan Chavadi (6.12),Kumana
                    Chavadi (6.13),KottuPakkam (6.15),Iyyappanthangal Depo
                    (6.17),Sakthi Nagar (6.22),Mugalivakkam (6.25),Ramapuram
                    (6.27), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>52</p></td><td><p>Porur</p></td><td
                  ><p>
                    Bai Kadai (6.15), Mugalivakkam (6.17), Porur (6.25),
                    Valasaravakkam (6.27),Kesvarthini (6.30), Virugambakkam
                    (6.32), Avachi School (6.35), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>53</p></td><td><p>K.K.Nagar</p></td><td
                  ><p>
                    Pondicherry Guest House (6.25), Amman Kovil (6.30), College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>54</p></td><td><p>Guindy</p></td><td
                  ><p>
                    Nondam bakkam (6.20), Butt Road (6.22), Guindy Balaji
                    Hospital (6.24), Check Post (6.30), Thandeswaran (6.32),
                    Vijay Nagar B.S (6.35), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>57</p></td><td><p>VelacherryBypass</p></td><td
                  ><p>
                    Erikarai (6.35am),Petrol Bunk (6.37am),Velacherry Railway
                    Station(6.40am), College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>55</p></td><td><p>Tansi Nagar</p></td><td
                  ><p>
                    Tonsi Nagar (6.40), Baby Nagar (6.45), KandanChavadi Bypass
                    (6.48),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>61</p></td><td><p>Mogapair</p></td><td
                  ><p>
                    J.J.Nagar Bus Stand (6.10),Golden Flats (6.15), Petrol Bank
                    (6.17), Collector Nagar (6.20), Park Road (6.22), College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>12</p></td><td><p>Anna Nagar West</p></td><td
                  ><p>
                    Oragadam (6.00),Korattur (6.05),Lucas (6.10), Anna Nagar
                    Depo (6.15), 11th Mani road (6.18),Arun Hotel (6.25),College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>62</p></td><td><p>K-4 Police Station</p></td><td
                  ><p>
                    K-4 (6.15),Lotus Colony (6.22), Chinthamani Signal (6.30),
                    Kilpauk Garden (6.32), Tailors Road (6.35), Chepet (6.40),
                    College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>63</p></td><td><p>Blue Star</p></td><td
                  ><p>
                    Blue Star (6.20), Taylors Road (6.22), Chetpet (6.25),
                    S.I.E.T (6.27), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>64</p></td><td><p>Metha Nagar</p></td><td
                  ><p>
                    Metha Nagar (6.25),Choolai Medu (6.28), Loyala College
                    (6.30), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>65</p></td><td><p>Valluvar Kottam</p></td><td
                  ><p>
                    Valluvar Kottam Bala Travels (6.30),American Consulate
                    (6.32),Stellamary’s (6.35),New Woodlands (6.37), Yellow
                    Pages (6.39), Valluvar Silai (6.42), Mylapore Tank (6.45),
                    College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>67</p></td><td><p>Kaliappa Hospital</p></td><td
                  ><p>
                    Abiramipuram Police station (6.30), Kaliappa Hospital
                    (6.35),Ambirama Puram Police Station (6.40am),Mandaveli
                    Police Station (6.45am),Mandaveli Depot (6.48am), College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>71</p></td><td><p>Kodampakkam (Five Lights)</p></td><td
                  ><p>
                    Kodambakkam R3 Police Station (6.20),Indian Bank (6.32),Five
                    Lights (6.35), Ragavendra Kalyana Mandapam (6.37), Ranga
                    Rajapuram (6.40),Liberty (6.43), Bharat Petrol Bunk (6.45),
                    B.B.C Complex(6.46), &nbsp;College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>72</p></td><td><p>Saidapet</p></td><td
                  ><p>
                    Srinivasa Theatre (6.30), Aranganathan Sub Way (6.33),
                    Kannama pettai (6.38),CIT Nagar (6.14),Saidapet Honda
                    Showroom (6.45),Saidapet Signal(6.47),Saidapet Subway
                    (6.49),Chinnamalai (6.50), College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>74</p></td><td><p>Panagal Park</p></td><td
                  ><p>
                    Panagalpark (6.40),Venkat Narayana Signal (6.45),Moopanar
                    Palam (6.50),Kotturpuram (6.55), College Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>77</p></td><td><p>S.R.P</p></td><td
                  ><p>
                    Kandanchavadi(6.55) Perungudi(6.58) Thorapakkam(7.00)
                    R.R.E(7.02) P.T.C(7.04), College Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>77 A</p></td><td><p>Karapakkam</p></td><td
                  ><p>
                    Karapakkam (6.55), Dollor Biscuit Company (6.57),
                    Sholinganallur (7.00), Ponniamman Kovil (7.03), Kumaran
                    Nagar (7.05), college Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>81</p></td><td><p>N.G.O. Colony</p></td><td
                  ><p>
                    N.G.O Colony (6.35),Mount R.S (6.40), Blue Bikes
                    (6.42),Brinda Nagar (6.45),Surender Nagar (6.47),
                    Vanuvampettai (6.50), Oil Mill (6.55), College Campus
                    (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>82</p></td><td><p>Nanganallur</p></td><td
                  ><p>
                    Palavanthangal Subway (6.35),Chidamparam
                    Stores(6.37),PillaiyarKovil (6.40),VannavamPettai
                    (6.42),Kovilam bakkam (6.50), Vallaikal (6.52), College
                    Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>83</p></td><td><p>UTI Bank</p></td><td
                  ><p>
                    UTI Bank (6.35), Ponniyamman Kovil (6.40), Petrol Bunk
                    (6.45), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>84</p></td><td><p>Kumaran Theatre</p></td><td
                  ><p>
                    Kumaran Theatre (6.35),Madipakkam Koot Road ( 6.40 ),
                    College Campus (7.15)
                  </p></td
                ></tr
              ><tr
                ><td><p>85</p></td><td><p>Kelkattalai</p></td><td
                  ><p>Kelkattalai(6.45), College Campus (7.15).</p></td
                ></tr
              ><tr
                ><td><p>85 A</p></td><td><p>Vellakal</p></td><td
                  ><p>
                    Vellakal (6.50), Koot Road (6.53), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>86</p></td><td><p>Balaji Dental Hospital</p></td><td
                  ><p>
                    Balaji Dental Hospital (6.45), Pallikaranai (6.50),
                    Medavakkam (7.00),Perumbakkam (7.02),College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>91</p></td><td><p>Besant Nagar</p></td><td
                  ><p>
                    Avaai Home (6.40am), Rajaji Bhavan (6.43am),Maharaja Store
                    (6.45am), Vannandurai (6.47),Spencer (6.50am), College
                    Campus (7.15am).
                  </p></td
                ></tr
              ><tr
                ><td><p>92</p></td><td><p>Ambika Appalam</p></td><td
                  ><p>
                    Ambika Appalam (6.35am), Indra Nagar (6.40am), College
                    Campus (7.15am).
                  </p></td
                ></tr
              ><tr
                ><td><p>96</p></td><td><p>Thiruvanmiyar Signal</p></td><td
                  ><p>
                    Thiruvanmiyur Signal (6.50am),Depot (6.53),Marutheswarar
                    Kovil (6.55am), College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>97</p></td><td><p>R.M Hospital</p></td><td
                  ><p>
                    Kottivakkam (6.52), Palavakkam (6.55), Neelangarai (6.57),
                    College Campus (7.15).
                  </p></td
                ></tr
              ><tr
                ><td><p>98</p></td><td><p>R.M Hospital</p></td><td
                  ><p>
                    Kottivakkam (6.52), Palavakkam (6.55), Neelangarai (6.57),
                    College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>99</p></td><td><p>Kottivakkam</p></td><td
                  ><p>
                    Kottivakkam (6.52), Palavakkam (6.55), Neelangarai (6.57),
                    College Campus (7.15),
                  </p></td
                ></tr
              ><tr
                ><td><p>101</p></td><td><p>Kalpakkam</p></td><td
                  ><p>E.C.R,</p></td
                ></tr
              ><tr
                ><td><p>102</p></td><td><p>Anupuram</p></td><td
                  ><p>Anupuram (6.10), College Campus (7.15)</p></td
                ></tr
              ><tr
                ><td><p>101 A</p></td><td><p>Thirpporur</p></td><td
                  ><p>
                    Thirpporur (6.35), Kelambakkam (6.45), College Campus (7.15)
                  </p></td
                ></tr
              ></tbody
            >
          </table>
        </div>
      </div>
    </div>
  </div>
</Layout>
