---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="BIOVIZTA'2K24" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div
        class="relative z-10 transition-opacity ease-in duration-700 opacity-100"
      >
        <div
          class="bg-black bg-opacity-50 md:bg-transparent w-screen flex flex-row justify-center p-5 h-[15%]"
        >
          <div
            class="w-[80vw] flex flex-row justify-between items-center max-h-[60px]"
          >
            <a href="/"><div class="h-[65px] w-[65px] bgGlow"></div></a>
            <div
              class="hidden md:block bg-[#b94f0937] text-white py-2 flex gap-6 rounded-2xl border-2 border-[#b94f0937]"
            >
              <a class="px-6 text-lg hover:text-gray-300" href="/">Home</a><a
                class="px-6 text-lg hover:text-gray-300"
                href="/transport">Transport</a
              ><a class="px-6 text-lg hover:text-gray-300" href="/contact"
                >Contacts</a
              >
            </div><div class="hidden md:block">
              <a
                class="bg-[#b94e09] rounded-tl-[16px] rounded-br-[16px] text-center text-lg text-white py-[8px] px-[12px] gap-8 w-full"
                href="/register">REGISTER</a
              >
            </div><div class="block md:hidden">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
                ><line
                  x1="10"
                  y1="12"
                  x2="30"
                  y2="12"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"></line><line
                  x1="10"
                  y1="20"
                  x2="30"
                  y2="20"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"></line><line
                  x1="10"
                  y1="28"
                  x2="30"
                  y2="28"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"></line></svg
              >
            </div>
          </div>
        </div>
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  body {
    background: url("/bg.png") no-repeat center center fixed;
    background-size: cover;
  }
</style>
